<footer class="footer">
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-right "><a href="#">Back to top</a></p>
            <p class="navbar-text text-muted ">© 2017 BOSCP, Inc. · </p>
        </div>
    </div>
</footer>