<div class="text-center">
    <div class="top-panel-libelle">
        Taux de traitement manuel à J de la veille
    </div>
    <div class="easypiechart-panel" data-toggle="tooltip" title="Taux de traitement à J de la veille, hors traitement auto">
        <div class="easypiechart" id="easypiechart-blue" data-percent="{{ tauxTraitementVeille }}" >
            <span class="percent">{{ tauxTraitementVeille }}%</span>
        </div>
    </div>
</div>
